body{
    background-color: #efefef;
}
.main {
    margin:30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-object {
    height: 50px;
}
.profile .section{
    margin-top: 15px;
}
.bbs-menu{
    color: #999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}