body{
    background-color: #efefef;
}
.main {
    margin:30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-object {
    height: 50px;
}