<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 中二癌论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bbs.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/bbs.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发贴
            </h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">帖子标题</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="帖子标题..." autocomplete="off">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">发帖内容</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control"
                              cols="30" rows="10" style="display: none"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: 350,
                            path: "/js/lib/",
                            delay: 0,
                            watch: false,
                            placeholder: "请输入帖子内容",
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="请选择下列标签"
                           autocomplete="off">
                    <div>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('galgame')">galgame</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('动漫')">动漫</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('奇幻')">奇幻</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('架空')">架空</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('热血')">热血</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('萌系')">萌系</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('催泪')">催泪</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('穿越')">穿越</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('校园')">校园</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('搞笑')">搞笑</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('恋爱')">恋爱</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('战斗')">战斗</span></span>
                        <span class="label label-info select-tag"><span class="glyphicon glyphicon-tag"
                                                                        onclick="selectTag('魔法')">魔法</span></span>
                    </div>
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${error}"
                                 th:if="${error != null}"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">发布</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>帖子发起指南</h3>
            • 帖子标题: 请用精简的语言描述您发布的帖子，不超过25字 <br>
            • 帖子内容: 详细补充您的帖子内容<br>
            • 选择标签: 选择一个或者多个合适的标签<br>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>