<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 中二癌论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bbs.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起
            </h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id"  th:value="${id}">
                <div class="form-group">
                    <label for="title">帖子标题</label>
                    <input type="text" class="form-control"  th:value="${title}" id="title" name="title" placeholder="帖子标题..." autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="description">发帖内容</label>
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签,以逗号分隔" autocomplete="off">
                    <div>
                        <span class="glyphicon glyphicon-tag">galgame</span>
                        <span class="glyphicon glyphicon-tag">热血</span>
                        <span class="glyphicon glyphicon-tag">萌系</span>
                        <span class="glyphicon glyphicon-tag">催泪</span>
                        <span class="glyphicon glyphicon-tag">穿越</span>
                        <span class="glyphicon glyphicon-tag">校园</span>
                        <span class="glyphicon glyphicon-tag">搞笑</span>
                        <span class="glyphicon glyphicon-tag">恋爱</span>
                        <span class="glyphicon glyphicon-tag">战斗</span>
                        <span class="glyphicon glyphicon-tag">魔法</span>
                    </div>
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${error}" th:if="${error != null}"></div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">发布</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>帖子发起指南</h3>
            • 帖子标题: 请用精简的语言描述您发布的帖子，不超过25字 <br>
            • 帖子内容: 详细补充您的帖子内容<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>